{% extends 'Admin_header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>- Enroll-Students</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Page Wrapper -->
        <!-- Begin Page Content -->
        <!-- <div class="container-fluid"> -->

          <!-- Page Heading -->
    <div class="container">

    <div class="card o-hidden border-0 border-left-primary shadow my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-2 "></div>
          <div class="col-lg-8 col-lg-ofset-2">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Make Inquiry</h1>
                      <center>
                      <div class="form-group" style="color: red; font-weight: 500">
                      {% if msg %}
                          {{msg}}
                      {% endif %}
                      </div>
                      <br>
                      </center>
              </div>
              <form  class="user" method="POST" action="" enctype="multipart/form-data">
                     {% csrf_token %}
                  <div class="form-group">
                    <input type="date" class="form-control form-control-user" id="exampleInputEmail" placeholder="DATE" name="date" required="required">
                  </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" id="xampleInputEmail" placeholder="Full Name" name="fname"> 
                </div>
                <div class="form-control-user">
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="defaultInline1" name="gender" value="male">
                    <label class="custom-control-label" for="defaultInline1" >Male</label>
                  </div>
                  <!-- Default inline 2-->
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="defaultInline2"name="gender" value="female">
                    <label class="custom-control-label" for="defaultInline2">Female</label>
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address" name="email" required="required">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="Mobile Number" name="mobile">
                </div>
                <div class="form-group">
                  <div class="form-control-user">
                    <label class="label">DOB</label>
                  </div>
                  <div class="form-group">
                    <input type="date" class="form-control form-control-user" id="exampleInputEmail" placeholder="DOB" name="dob" required="required">
                  </div>
                </div>
                <div class="form-group">
                  <textarea type="text" class="form-control form-control-user" id="exampleInputEmail" placeholder="Address" name="address" ></textarea>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" id="exampleInputEmail" placeholder="Education Qualification" name="education" required="required">
                </div>
                <div class="form-control-user">
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="defaultInline3" name="course" value="fashion" >
                    <label class="custom-control-label" for="defaultInline3">Fashion</label>
                  </div>
                  <!-- Default inline 2-->
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="defaultInline4" name="course" value="graphics">
                    <label class="custom-control-label" for="defaultInline4">Graphics </label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="defaultInline5" name="course" value="fineart">
                    <label class="custom-control-label" for="defaultInline5">Fineart </label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="defaultInline6" name="course" value="textile">
                    <label class="custom-control-label" for="defaultInline6">Textile</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="defaultInline7" name="course" value="jwellery">
                    <label class="custom-control-label" for="defaultInline7">Jwellery</label>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" id="exampleInputEmail" placeholder="How Did You Know Kalaveethi Institute?" name="refrence"> 
                </div>
                <input type="submit" name="" class="btn btn-primary btn-user btn-block" value="Enroll Student">
                </a>
              </form>
            </div>
          </div>
      </div>
    </div>

  </div>
        <!-- </div> -->
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to Log Out Your Account.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}></script>

</body>
{% endblock content %}

</html>
