{% extends 'student_header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Student Dashboard</title>
  
  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top" onload="">

    

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h4 mb-0 text-primary text-uppercase">Student Dashboard</h1>
          </div>

          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 col-sm-6 col-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center ">
                    <div class="col mr-2">
                      <div class="text-md font-weight-bold text-primary text-uppercase mb-1">Notice</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_noticelen}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-sticky-note h1"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 col-sm-6 col-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-md font-weight-bold text-primary text-uppercase mb-1">Event</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_eventlen}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar-alt h1"></i></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
           <div class="col-xl-3 col-md-6 col-sm-6 col-6  mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-md font-weight-bold text-primary text-uppercase mb-1">Holiday</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_holidaylen}}</div>
                    </div>
                    <div class="col-auto">
                     <i class="far fa-window-restore h1"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 col-sm-6 col-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-md font-weight-bold text-primary text-uppercase mb-1">Submitions</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_submitionslen}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-swatchbook"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>


          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-12 col-md-12 mb-4">
              <div class="card border-left-primary border-right-primary shadow py-2">

                <div class="cart-header">
                  <h6 class="m-0 font-weight-bold text-primary text-center">Latest News</h6>
                  <hr>
                </div>

                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">

                              {% for n in notice %}
                                    <div class="cart p-3">
                                      <div class="row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                          <div class="text-md font-weight-bold text-primary text-uppercase text-left">Notice</div>
                                        </div>
                                        <div class="col-sm-6">
                                          <div class="text-md font-weight-bold text-primary text-uppercase text-right">
                                              {{n.notice_date}}
                                          </div>
                                        </div>
                                      </div>
                                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{n.notice_sub}}
                                      </div>
                                      <div class="text-xs font-weight-bold text-primary text-uppercase mt-2"> 
                                        {{n.notice_desc}}
                                      </div>
                                      </div>
                              {% endfor %}  

                            </div>
                            <div class="carousel-item">

                              {% for e in event %}

                                  <div class="cart p-3">
                                    <div class="row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                          <div class="text-md font-weight-bold text-primary text-uppercase text-left">Event</div>
                                        </div>
                                        <div class="col-sm-6">
                                          <div class="text-md font-weight-bold text-primary text-uppercase text-right">
                                             {{e.event_time}}</br>{{e.event_date}}
                                          </div>
                                        </div>
                                      </div>
                                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                                             {{e.event_nm}}
                                      </div>
                                      <div class="text-xs font-weight-bold text-primary text-uppercase mt-2">
                                        {{e.place}}
                                      </div>
                                      </div>  
                                {% endfor %}

                            </div>
                            <div class="carousel-item">
                              {% for h in holiday %}
                                <div class="cart p-3">
                                      <div class="row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                          <div class="text-md font-weight-bold text-primary text-uppercase text-left">Holiday</div>
                                        </div>
                                        <div class="col-sm-6">
                                          <div class="text-md font-weight-bold text-primary text-uppercase text-right">
                                              {{h.holiday_date}}
                                          </div>
                                        </div>
                                      </div>
                                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{h.holiday_nm}}
                                      </div>
                                      <div class="text-xs font-weight-bold text-primary text-uppercase mt-2"> 
                                        {{h.holiday_day}}&nbsp;Days
                                      </div>
                                      </div>

                                {% endfor %}
                            </div>
                          </div>
                      </div>
            </div>
          </div>
          <!-- Content Row -->
          

            <!-- Earnings (Monthly) Card Example -->
             <!-- Donut Chart -->
            <div class="col-xl-4 col-lg-4 col-12 ml-1 mb-4">
                <div class="card border-left-primary h-100 shadow py-2">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Attendence</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4">
                    <canvas id="myPieChart"></canvas>
                  </div>
                  <hr>

                  <div class="mt-4 text-center small">
                    <span class="mr-2">
                      <i class="fas fa-circle text-primary"></i> Absent
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-success"></i> Present
                    </span>
                  </div>
                 
                </div>
              </div>
            </div>
          

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-7 col-md-7">
              <div class="card border-left-primary h-auto shadow py-2">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Class</h6>
                </div>
                <div class="card-body">
                {% for c in classlist %}
                
                  <div class="row">
                    <div class="col-sm-6 mb-sm-0">
                       <div class="text-md font-weight-bold text-primary text-uppercase text-left">{{c.subject}}</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-md font-weight-bold text-primary text-uppercase text-right">
                            {{c.class_date}}<br>{{c.class_time}}
                        </div>
                      </div>
                    </div>
                  <div class="text-sm text-uppercase mb-0 font-weight-bold text-gray-800">        {{c.classtype}}
                  <hr>
                  </div>
              {% endfor %}
                <div class="col-sm-12 mb-sm-0 col-12">
                    <div class="text-md h5 text-center font-weight-bold text-success text-uppercase text-left border-left-success p-3 mt-1 bg-success text-light border-4 rounded ">

                    <div class="body_" id="body_"><div id="timediv"></div>  

                    </div>
                  </div>
                </div>

              </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            


            <div class="col-xl-12 col-md-12 mb-4 mt-4">
              <div class="card border-left-success shadow py-2">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-success">Fees</h6>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6 mb-sm-0 col-6">
                       <div class="text-md h5 font-weight-bold text-success text-uppercase text-left">PAID AMOUNT</div>
                    </div>
                    <div class="col-sm-6 col-6">
                        <div class="text-md h4 font-weight-bold text-success text-uppercase text-right">
                           {{total_feeslen}}/-
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>

          <!-- Content Row -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to Log Out Your Account.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'student_logout' %}">Logout</a>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Bootstrap core JavaScript-->
  <script  src="{% static 'js/clock.js' %}"></script>

  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
{% endblock content %}

</body>

</html>
